$primarycolor:#9356DC/*violet*/;
$secondarycolor:#FF79DA/*rose*/;
$thirdcolor:#99E2D0/*vert menthe*/;
$footercolor: #353535 /*gris foncé*/;
$background1: #eaeaea /*gris clair*/;
$background2:#f3f3f3 /*blanc cassé*/;