@mixin main-button {
border-radius: 30px;
        color: white;
        text-align: center;
        background: linear-gradient(165deg, $secondarycolor 0%, $primarycolor 75%);
        box-shadow: 0px 5px 10px 5px #dbdbdb
}