footer {
    width: 100%;
    background-color: $footercolor;
    div{
        padding: 15px;
    }
    img {
        width: 105px;
        padding: 5px;
        filter: invert(1);
    }
    ul{
        li{
            padding: 5px;
            list-style-type: none;
            a {
                color: white;
            }
        }
    }
}