footer {
    width: 100%;
    background-color: $footercolor;
    div{
        padding: 15px;
        filter: invert(1);
    }
    img {
        width: 105px;
        padding: 5px;
    }
    ul{
        li{
            padding: 5px;
        }
    }
}