* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto';
    max-width: 1920px;
}
header,
footer > div {
    margin: auto !important;
    max-width: 1180px;
    padding: 0 15px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        width: 180px;
        padding: 10px;
    }
    a{
        font-size: 1.4em;
        transform: translate(-200px, 0px);
        display: flex;
        align-items: center;
    }
}